@model IEnumerable<SPG_Fachtheorie.Aufgabe2.Model.Offer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Offers</h1>
<table class="table table-sm">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Subject.Term)</th>
            <th>@Html.DisplayNameFor(x => x.Subject.Name)</th>
            <th>@Html.DisplayNameFor(x => x.Subject.EducationType)</th>
            <th>@Html.DisplayNameFor(x => x.From)</th>
            <th>@Html.DisplayNameFor(x => x.To)</th>
            <th>@Html.DisplayNameFor(x => x.Appointments.Count)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <th>@Html.DisplayFor(o => x.Subject.Term)</th>
                <th>@Html.DisplayFor(o => x.Subject.Name)</th>
                <th>@Html.DisplayFor(o => x.Subject.EducationType)</th>
                <th>@Html.DisplayFor(o => x.From)</th>
                <th>@Html.DisplayFor(o => x.To)</th>
                <th>@Html.DisplayFor(o => x.Appointments.Count)</th>
            </tr>
        }
    </tbody>
</table>

