@using SPG_Fachtheorie.Aufgabe2.Model
@model SPG_Fachtheorie.Aufgabe3Mvc.Views.Offers.IndexViewModel


<h1>Offers</h1>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>TeacherId</th>
            <th>SubjectId</th>
            <th>Subject</th>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Offers)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.TeacherId</td>
                <td>@s.SubjectId</td>
                <td>@s.Subject</td>
                <td>@s.From</td>
                <td>@s.To</td>
            </tr>
        }
    </tbody>
</table>

