@using SPG_Fachtheorie.Aufgabe2.Model
@model IEnumerable<SPG_Fachtheorie.Aufgabe2.Model.Appointment>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var appointment in Model) {
        
        var style = appointment.State == AppointmentState.Cancelled ? "background: gray;" : "";
        
        <tr style="@style">
            <td>
                @Html.DisplayFor(modelItem => appointment.Student.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => appointment.Student.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => appointment.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => appointment.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => appointment.State)
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
